<div class="content page-12">
  <div class="bg fadeIn"></div>
  <div class="btn fadeInDownBig"></div>
  <div class="image image1 fadeInRightBig"></div>
  <div class="image image2 fadeInUpBig"></div>
</div>
