<div class="content page-13">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>
  <div class="layer-wrap">
    <div class="image-ic fadeInRightBig"></div>
    <div class="text fadeInRightBig"></div>
    <div class="image-ci-center fadeInLeftBig"></div>
    <div class="image-14-wrap btn-popup-14 image-14-left fadeInLeftBig">
      <div class="image-14"></div>
    </div>
    <div class="image-14-wrap btn-popup-14 image-14-right fadeInLeftBig">
      <div class="image-14"></div>
    </div>
    <div class="image-15-wrap btn-popup-15 fadeInLeftBig">
      <div class="image-15"></div>
    </div>
  </div>
  <div class="mask"></div>
  <div class="popup popup-14"></div>
  <div class="popup popup-15"></div>
</div>
