<div class="content page-18">
  <div class="bg fadeIn"></div>
  <div class="img-wrap">
    <div class="img img1 fadeInDown"></div>
    <div class="img img2 fadeInDown"></div>
    <div class="img img3 fadeInDown"></div>
    <div class="img img4 fadeInDown"></div>
  </div>
  <div class="title fadeInDown"></div>
  <div class="text fadeInDown"></div>
</div>
