<div class="content page-2">
  <div class="bg fadeIn"></div>
  <div class="circle1-wrap flash infinite">
    <div class="circle1 "> </div>
  </div>
  <div class="circle2-wrap flash infinite">
    <div class="circle2"></div>
  </div>
  <div class="btn btn1"></div>
  <div class="btn btn2"></div>
  <div class="btn btn3"></div>
</div>
