<div class="content page-24">
  <div class="title fadeInDown"></div>
  <div class="img-wrap">
    <div class="img img1 fadeInDown"></div>
    <div class="img img2 fadeInDown"></div>
    <div class="container">
      <div class="img img3 fadeInDown"></div>
      <div class="img img4 fadeInRight"></div>
      <div class="img img5 fadeInRight"></div>
      <div class="img img6 fadeInRight"></div>
    </div>
  </div>
</div>
