<div class="content page-24">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDown"></div>
  <div class="img-wrap">
    <div class="img img1 fadeInDown"></div>
    <div class="img img2 fadeInDown"></div>
    <div class="container">
      <div class="img img3 "></div>
      <div class="img img4 "></div>
      <div class="img img5 "></div>
      <div class="img img6 "></div>
    </div>
  </div>
</div>
