<div class="content page-25">
  <div class="title fadeInDown"></div>
  <div class="text1 fadeInDown"></div>
  <div class="img fadeIn"></div>
  <div class="desc1 zoomIn"></div>
  <div class="desc2 zoomIn"></div>
  <div class="desc3 zoomIn"></div>
  <div class="desc4 zoomIn"></div>
  <div class="desc5 zoomIn"></div>
  <div class="text2 fadeInUp"></div>
</div>
