<div class="content page-26">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDown"></div>
  <div class="img1 fadeInDown"></div>
  <div class="img2 fadeInDown"></div>
  <div class="text1 fadeInDown"></div>
  <div class="text2 fadeInDown"></div>
  <div class="text3 fadeInDown"></div>
</div>
