<div class="content page-28">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDown"></div>
  <div class="text fadeInDown"></div>
  <div class="product fadeIn"></div>
  <div class="img1"></div>
  <div class="img2"></div>
  <div class="img3"></div>
  <div class="img4"></div>
  <div class="img5 fadeInRight"></div>
</div>
