<div class="content page-31">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDown"></div>
  <div class="text fadeInDown"></div>
  <div class="product fadeInDown"></div>
  <div class="img1 fadeInLeft"></div>
  <div class="img2 fadeInDown"></div>
  <div class="img3"></div>
  <div class="img4 fadeInRight"></div>
</div>
