<div class="content page-33">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>
  <div class="chart-wrap fadeIn"></div>
  <div class="chart-line"></div>
  <div class="image-wrap image-wrap1"></div>
  <div class="image-wrap image-wrap2"></div>
  <div class="image-wrap image-wrap3"></div>
  <div class="image-wrap image-wrap4"></div>
  <div class="image-wrap image-wrap5"></div>
  <div class="image-wrap image-wrap6"></div>
</div>
