<div class="content page-34">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>
  
  <div class="image image1 fadeInDownBig"></div>
  <div class="image image2 fadeInDownBig"></div>
  <div class="image image3 fadeInDownBig"></div>
  <div class="text-line fadeInDownBig"></div>

  <div class="text text1 fadeInRight"></div>
  <div class="text text2 fadeInRight"></div>
  <div class="text text3 fadeInRight"></div>

  <div class="image image4 fadeInRight"></div>
  <div class="image image5 fadeInRight"></div>
  <div class="image image6 fadeInRight"></div>
</div>
