<div class="content page-36">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>
  <div class="image-text fadeInDownBig"></div>
  <div class="image image1 fadeInRight"></div>
  <div class="image image2 fadeInRight"></div>
  <div class="image image3 fadeInRight"></div>
  <div class="image image4 fadeInRight"></div>
  <div class="image-chart fadeInDownBig"></div>
</div>
