<div class="content page-38">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>
  <div class="image image1 fadeInDownBig"></div>
  <div class="image image2 fadeInDownBig"></div>
</div>
