<div class="content page-4">
  <div class="bg bg-full fadeIn"></div>
  <div class="marker fadeInDown"></div>
  <div class="text fadeInDown"></div>
  <div class="info-title fadeInRight"></div>
  <div class="six-icon fadeInUp"></div>
  <div class="text-more fadeInUp"></div>
  <div class="image-wrap">
    <div class="image image1 fadeInUp"></div>
    <div class="tran trans1 fadeInUp"></div>
    <div class="image image2 fadeInUp"></div>
    <div class="tran trans2 fadeInUp"></div>
    <div class="image image3 fadeInUp"></div>
  </div>
</div>
