<div class="content page-4">
  <div class="bg fadeIn"></div>
  <div class="marker slideInDown"></div>
  <div class="text slideInDown"></div>
  <div class="info-title slideInLeft"></div>
  <div class="six-icon slideInUp"></div>
  <div class="text-more slideInUp"></div>
  <div class="image image1 slideInUp"></div>
  <div class="tran trans1 slideInUp"></div>
  <div class="image image2 slideInUp"></div>
  <div class="tran trans2 slideInUp"></div>
  <div class="image image3 slideInUp"></div>
</div>
