<div class="content page-40">
  <div class="bg fadeIn"></div>
  <div class="btn btn1 fadeInDownBig"></div>
  <div class="btn btn2 fadeInDownBig"></div>
  <div class="btn btn3 fadeInDownBig"></div>
  <div class="btn btn4 fadeInDownBig"></div>
  <div class="circle flash infinite"></div>
</div>
