<div class="content page-42">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>

  <div class="image image1 fadeInDown"></div>
  <div class="image image2 fadeInDown"></div>
  <div class="image image3 fadeInDown"></div>
  <div class="image image4 fadeInDownBig"></div>
  <div class="image image5 fadeInRight"></div>
  <div class="image image6 fadeInRight"></div>
  <div class="image image7 fadeInRight"></div>
  <div class="image image8 fadeInRight"></div>
  <div class="image image9 fadeInRight"></div>
  <div class="image image10 fadeInRight"></div>
</div>
