<div class="content page-43">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>

  <div class="image image1 fadeInRightBig"></div>
  <div class="image image2 fadeInRightBig"></div>
  <div class="image image3 fadeInRightBig"></div>
</div>
