<div class="content page-44">
  <div class="title fadeInDown"></div>
  <div class="text fadeInDown"></div>
  
  <div class="img img1 flipInX"></div>
  <div class="img img2 flipInX"></div>
  <div class="img img3 flipInX"></div>
  
  <div class="img img4 fadeIn"></div>
  <div class="img img5 fadeInLeft"></div>
  <div class="img img6 fadeInLeft"></div>
</div>
