<div class="content page-45">
  <div class="title fadeInDown"></div>
  <div class="text fadeInDown"></div>
  <div class="img-wrap">
    <div class="img img1 fadeInDown"></div>
    <div class="img img2 fadeInDown"></div>
    <div class="img img3 fadeInDown"></div>
    <div class="img img4 fadeInDown"></div>
    <div class="img img5 fadeInDown"></div>
    <div class="container">
      <div class="img img6 fadeInLeft"></div>
      <div class="img img7 fadeInDown"></div>
    </div>
    <div class="container">
      <div class="img img8 fadeInLeft"></div>
      <div class="img img9 fadeInDown"></div>
    </div>
  </div>
</div>
