<div class="content page-46">
<video id="video" src="src/video/video.mp4" 
  x5-video-player-type="h5"
  x5-video-orientation="landscape"
  x5-video-player-fullscreen="true" 
  poster="" preload="auto"></video>
  <div class="btn btn1 fadeInDown"></div>
  <div class="btn btn2 fadeInDown"></div>
  <div class="circle fadeInUp"></div>
  <div class="title fadeInUp"></div>
</div>
