<div class="content page-48">
  <div class="bg bg-full fadeIn"></div>
  <div class="title fadeInUp"></div>
  <div class="img-wrap">
    <div class="img9 img fadeInUp"></div>
    <div class="img10 img fadeInUp"></div>
    <div class="img11 img fadeInUp"></div>
    <div class="img12 img fadeInUp"></div>
    <div class="img15 img fadeInUp"></div>

    <div class="img5 img fadeInUp"></div>
    <div class="img6 img fadeInUp"></div>
    <div class="img7 img fadeInUp"></div>
    <div class="img8 img fadeInUp"></div>
    <div class="img14 img fadeInUp"></div>

    <div class="img1 img fadeInUp"></div>
    <div class="img2 img fadeInUp"></div>
    <div class="img3 img fadeInUp"></div>
    <div class="img4 img fadeInUp"></div>
    <div class="img13 img fadeInUp"></div>
  </div>
</div>
