<div class="content page-6">
  <div class="bg fadeIn"></div>
  <div class="image image2 fadeInDownBig"></div>
  <div class="image image3 fadeInDownBig"></div>
  <div class="image image1 fadeInDownBig"></div>
</div>
