<div class="content page-8">
  <div class="bg fadeIn"></div>
  <div class="title"></div>
  <div class="line line1 fadeInUpBig"></div>
  <div class="line line2 fadeInUpBig"></div>
  <div class="line line3 fadeInUpBig"></div>
  <div class="line line4 fadeInUpBig"></div>
  <div class="line line5 fadeInUpBig"></div>
  <div class="line line6 fadeInUpBig"></div>
</div>
