<div class="content page-8">
  <div class="line line1 fadeInDownBig"></div>
  <div class="line line2 fadeInDownBig"></div>
  <div class="line line3 fadeInDownBig"></div>
  <div class="line line4 fadeInDownBig"></div>
  <div class="line line5 fadeInDownBig"></div>
  <div class="line line6 fadeInDownBig"></div>
</div>
