<div class="content page-9">
  <div class="bg fadeIn"></div>
  <div class="title fadeInDownBig"></div>
  <div class="layer-wrap">
    <div class="frame left-frame fadeIn"></div>
    <div class="frame right-frame fadeIn"></div>
    <div class="image image1 fadeIn"></div>
    <div class="image image2 fadeIn"></div>
  </div>
</div>
