<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>layout</title>
  <link rel="stylesheet" href="/islider.css">
  <link rel="stylesheet" href="/index.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amfe-flexible@2.2.1/index.min.js"></script>
</head>

<body>
  <ul class="islider-outer">
    <li class="islider-html">
      <%- body -%>
    </li>
  </ul>

</body>

</html>
