@import "./animate.less";
.islider-active {
  .page-1 {
    .click {
      .animated();
      .animated.infinite();
      animation-duration: 3s;
      animation-delay: 1s;
    }
    .text {
      .animated();
      animation-delay: 1s;
    }
    .bg {
      .animated();
    }
  }
}

.page-1 {
  .bg {
    background-image: url("../images/1/bg.jpg");
    opacity: 0;
  }

  .click {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    background: url("../images/1/click.png") center center no-repeat;
    background-size: contain;
    // animation-play-state: paused;
  }
  .text {
    position: absolute;
    left: 4rem;
    top: 0;
    height: 60%;
    width: 2rem;
    background: url("../images/1/text.png") center center no-repeat;
    background-size: contain;
    // animation-play-state: paused;
  }
}
