.page-12 {
  background: url("../images/12/bg.jpg") center center no-repeat;
  background-size: 100% 100%;
  .btn {
    position: absolute;
    width: 1.2rem;
    height: 189px;
    background-size: contain;
    right: 4.4rem;
    top: 102px;
    background-image: url("../images/12/btn.png");
  }
}
