.page-21 {
  background: url("../images/21/bg1.jpg") center center no-repeat;
  background-size: 100% 100%;

  .title1 {
    background-image: url("../images/21/title1.png");
    background-size: contain;
    position: absolute;
    width: 0.56rem;
    height: 252px;
    top: 32px;
    right: 0.8rem;
  }
  .img1 {
    background-image: url("../images/21/img1.png");
    background-size: contain;
    position: absolute;
    width: 8.35rem;
    height: 240px;
    top: 83px;
    left: 0;
  }
  
  .container{
    position: absolute;
    width: 8.2rem;
    height: 246px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    top: 338px;
    bottom: 33px;
    left: 0;
  }
  
  
  .text1 {
    background-image: url("../images/21/text1.png");
    background-size: contain;
    width: 0.25rem;
    height: 140px;
    margin-top: 4px;
  }

  .title2 {
    background-image: url("../images/21/title2.png");
    background-size: contain;
    width: 0.41rem;
    height: 163px;
    align-self: flex-end;
    margin-right: 15px;
  }


  .img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 7px;
  }
  .img2 {
    background-image: url("../images/21/img2.png");
    background-size: contain;
    width: 2.1rem;
    height: 82px;
  }
  .text2 {
    background-image: url("../images/21/text2.png");
    background-size: contain;
    width: 1.5rem;
    height: 167px;
  }
  

  .img3 {
    background-image: url("../images/21/img3.png");
    background-size: contain;
    width: 1.25rem;
    height: 238px;
    margin-right: 8px;
    margin-top: 13px;
  }
  
  .title4 {
    background-image: url("../images/21/title4.png");
    background-size: contain;
    width: 0.41rem;
    height: 163px;
    align-self: flex-end;
    margin-right: 26px;
  }

  .img4 {
    background-image: url("../images/21/img4.png");
    background-size: contain;
    width: 2.1rem;
    height: 82px;
  }

  .text4 {
    background-image: url("../images/21/text4.png");
    background-size: contain;
    width: 1.9rem;
    height: 154px;
    margin-bottom: 10px;
  }
}
