.page-21 {
  background: url("../images/21/bg.jpg") center center no-repeat;
  background-size: 100% 100%;

  .title1 {
    background-image: url("../images/21/title1.png");
    background-size: contain;
    position: absolute;
    width: 0.58rem;
    height: 354px;
    top: 32px;
    right: 0.8rem;
    transition: all 1s ease;
    transform: translate3d(0, -120%, 0);
  }
  .img1 {
    background-image: url("../images/21/img1.png");
    background-size: contain;
    position: absolute;
    width: 8.35rem;
    height: 300px;
    top: 100px;
    left: 0;
  }
  
  .container{
    position: absolute;
    width: 8.35rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 400px;
    bottom: 33px;
    left: 0;
  }

  .img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .text1 {
    background-image: url("../images/21/text1.png");
    background-size: contain;
  }

  .title2 {
    background-image: url("../images/21/title2.png");
    background-size: contain;
  }
  .text2 {
    background-image: url("../images/21/text2.png");
    background-size: contain;
  }

  .title4 {
    background-image: url("../images/21/title4.png");
    background-size: contain;
  }
  .text4 {
    background-image: url("../images/21/text4.png");
    background-size: contain;
  }

  .img2 {
    background-image: url("../images/21/img2.png");
    background-size: contain;
  }

  .img3 {
    background-image: url("../images/21/img3.png");
    background-size: contain;
  }
  .img4 {
    background-image: url("../images/21/img4.png");
    background-size: contain;
  }
}
