.page-32 {
  background: url("../images/32/bg.jpg") center center no-repeat;
  background-size: 100% 100%;
  .btn {
    position: absolute;
    width: 1.2rem;
    height: 189px;
    background-size: contain;
    top: 21px;
  }

  .btn1 {
    background-image: url("../images/32/btn1.png");
    right: 1.8rem;
  }

  .btn2 {
    background-image: url("../images/32/btn2.png");
    right: 3.5rem;
  }
  .btn3 {
    background-image: url("../images/32/btn3.png");
    right: 5.2rem;
  }

  .btn4 {
    background-image: url("../images/32/btn4.png");
    right: 7rem;
  }
  .circle {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .circle1 {
    background-image: url("../images/32/circle1.png");
    bottom: 81px;
    left: 6.2rem;
  }
  .circle2 {
    background-image: url("../images/32/circle2.png");
    bottom: 61px;
    left: 3.8rem;
  }
  .circle3 {
    background-image: url("../images/32/circle3.png");
    bottom: 102px;
    left: 1.4rem;
  }
}
