@import "./animate.less";
.islider-active {
  .page-40 {
    .bg {
      .animated();
    }
    .circle {
      .animated();
      .animated.infinite();
      animation-duration: 3s;
    }
  }
}

.page-40 {
  .bg {
    background: url("../images/40/bg.jpg") center center no-repeat;
    background-size: 100% 100%;
    opacity: 0;
  }
  .btn {
    position: absolute;
    width: 1.2rem;
    height: 189px;
    background-size: contain;
    top: 21px;
  }

  .btn1 {
    /*&:active{
      .fadeIn();
      .animated();
    }*/
    background-image: url("../images/40/btn1.png");
    right: 1.8rem;
  }

  .btn2 {
    background-image: url("../images/40/btn2.png");

    right: 3.5rem;
  }

  .btn3 {
    background-image: url("../images/40/btn3.png");

    right: 5.2rem;
  }

  .btn4 {
    background-image: url("../images/40/btn4.png");

    right: 7rem;
  }
  .circle {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/40/circle.png") center center no-repeat;
    bottom: 73px;
    left: 5.2rem;
  }
}
