.page-7 {
  background: url("../images/7/bg.jpg") center center no-repeat;
  background-size: 100% 100%;
  .btn {
    position: absolute;
    width: 1.2rem;
    height: 189px;
    background-size: contain;
  }

  .btn1 {
    right: 1.8rem;
    top: 20px;

    background-image: url("../images/7/btn1.png");
  }

  .btn2 {
    right: 3.5rem;
    top: 20px;
    background-image: url("../images/7/btn2.png");
  }

  .btn3 {
    right: 5.2rem;
    top: 20px;
    background-image: url("../images/7/btn3.png");
  }
  .btn4 {
    right: 7rem;
    top: 20px;
    background-image: url("../images/7/btn4.png");
  }
}
