@import "./css/animate.less";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#main-container,
.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.btn {
  &:hover,
  &:active {
    transform: scale(1.2);
    opacity: 7;
  }
}

.slider-container {
  z-index: -1;
  opacity: 0;
  transition: opacity 0.1s linear;
  &.active {
    opacity: 1;
    z-index: 1;
  }
}

#main-container {
  transition: opacity 0.1s linear;
  &.disable {
    opacity: 0;
  }
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
}

.bg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

// 当前页样式
.islider-active {
}

.btn,
.circle,
.img {
  background-repeat: no-repeat;
}

#back-icon {
  position: fixed;
  width: 1.2rem;
  height: 1.2rem;
  bottom: 8px;
  right: 0.5rem;
  background: url("./images/back.png") center center no-repeat;
  background-size: contain;
  z-index: 9999;
  transform: translateZ(0px);
}

@import "./css/1.less";
@import "./css/2.less";
@import "./css/3.less";
@import "./css/4.less";
@import "./css/5.less";
@import "./css/6.less";
@import "./css/7.less";
@import "./css/8.less";
@import "./css/9.less";
@import "./css/10.less";
@import "./css/11.less";
@import "./css/12.less";
@import "./css/13.less";
@import "./css/14.less";
@import "./css/15.less";
@import "./css/16.less";
@import "./css/17.less";
@import "./css/18.less";
@import "./css/19.less";
@import "./css/20.less";
@import "./css/21.less";
@import "./css/22.less";
@import "./css/23.less";
@import "./css/24.less";
@import "./css/25.less";
@import "./css/26.less";
@import "./css/27.less";
@import "./css/28.less";
@import "./css/29.less";
@import "./css/30.less";
@import "./css/31.less";
@import "./css/32.less";
@import "./css/33.less";
@import "./css/34.less";
@import "./css/35.less";
@import "./css/36.less";
@import "./css/37.less";
@import "./css/38.less";
@import "./css/39.less";
@import "./css/40.less";
@import "./css/41.less";
@import "./css/42.less";
@import "./css/43.less";
@import "./css/44.less";
@import "./css/45.less";
@import "./css/46.less";
@import "./css/47.less";
@import "./css/48.less";
